<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAPESP app</title>
    <script type="text/javascript" src="{{url_for('static', filename='visualization_options.js')}}"></script>
</head>
<body>
    <div id="main_div">
        <div id="map_div"></div>
        <div id="options_div">
            <div id="visualization_div">
                <div id="visualization_upper_div">
                    <select name="feedstock_type" id="feedstock_type_selectbox" onchange="feedstock_type_changed()">Tipo matéria-prima</select>
                    <select name="feedstock" id="feedstock_selectbox" onchange="feedstock_changed()">Matéria-prima</select>
                </div>
                

            </div>
            <div id="optimization_div"></div>
        </div>
    </div>

    <script>
        fill_feedstock_type_selectbox()
    </script>
</body>
</html>